body{
    background:linear-gradient(45deg,#262827,#1c1e1e,#000000);
    width:100vh;height:100vh; 
    animation: colors infinite 15s ease; background-size: 300% 300%; 
}
@keyframes colors{
   0%{background-position: 0% 50%;}
   50%{background-position: 100% 50%;}
   100%{background-position: 0% 50%;}
}