body{width: 100%; height: 100%; }
#cowboy{
    display: none;
}
#selector{
    display: none;
}


#button{
    cursor: pointer;
    display: flex;
    background-color: white;
    border:solid black;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    position: absolute;
    left: 44.50%;
    top:40%;
}
#button:hover{
    background-color: rgb(208, 199, 199);
}


#button2{
    cursor: pointer;
    display: flex;
    background-color: white;
    border:solid black;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 30px;
    position: absolute;
    left: 93.50%;
    top:94%;
    z-index: 1;
}
#button2:hover{
    background-color: rgb(208, 199, 199);
}

#op1{
     z-index:1;
     background-color: red;
     width: 70px; 
     height: 45px;
     display: block;
     position:absolute;
     top: 10px;;
     opacity:0.8; 
     animation: olo infinite 1s;     
}

#op2{
    z-index:1;
    background-color: red;
     width: 70px; 
     height: 45px;
     display: block;
     position:absolute;
     top: 75px;  
     opacity:0.8;
     animation: olo infinite 1s;    
}

 #op3{
    z-index:1;
    background-color: red;
     width: 70px; 
     height: 45px;
     display: block;
     position:absolute;
     top: 138px;
     opacity:0.5;  
     animation: olo infinite 1s; 
}

#op4{
    z-index:1;
    background-color: red;
     width: 70px; 
     height: 45px;
     display: block;
     position:absolute;
     top: 195px;
     opacity:0.8;  
     animation: olo infinite 1s; 
}

#op5{
    z-index:1;
    background-color: red;
     width: 70px; 
     height: 45px;
     display: block;
     position:absolute;
     top:260px;  
     opacity:0.8;  
     animation: olo infinite 1s; 
} 
@keyframes olo{
    0%{
        opacity:0.6;
    }
}
#drone1{
    width:90px;
    height: 90px;
    position: absolute;
    left:-10%;
    top:-34px;
}

#drone2{
    width:90px;
    height: 90px;
    position: absolute;
    left:-10%;
    top:33px;
}
#drone3{
    width:90px;
    height: 90px;
    position: absolute;
    left:-10%;
    top:97px;
}
#drone4{
    width:90px;
    height: 90px;
    position: absolute;
    left:-10%;
    top:152px;
}
#drone5{
    width:90px;
    height: 90px;
    position: absolute;
    left:-10%;
    top:218px;
}

 #menuchec[type="checkbox"]:checked ~ #bkmenu{
    width: 100vw;
    height: 100%;
    background-image: url("../Imagens/cenario.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute; 
    top: 0; 
}


#menuchec[type="checkbox"]:checked ~ #button{
  display: none;
}
#menuchec[type="checkbox"]:checked ~ #button2{
    display: none;
}


#menuchec[type="checkbox"]:checked ~ footer{
    top:100%;
}

#menuchec[type="checkbox"]:checked ~ #cowboy{
    top:40%;
    height:130px;
    left:150px;
    width: 75px;
    position: absolute;
    display: unset;
}
#menuchec[type="checkbox"]:checked ~ #selector{
    display: unset;
    position: absolute;
    top:48%;
    left: 80%;
    width: 500px;
    height: 500px;
}
#bullet{
    display: none;
}
#menuchec[type="checkbox"]:checked ~ #bullet{
    width:15px;
    height:7px;
    left:230px;
    display: block;
    background-color: gold;
    position: absolute;
    animation: bullet 1.500s ease;
}




@keyframes bullet{
    0%{ left:230px; }
    5%{width:40px;}
    25%{width:60px;}
    100%{left:80%; width: 70px;}
}