body{margin-left:25%;}
ul.menu{list-style:none; display:flex;top:100px;position: relative;}
img{width:350px; height:200px;position:absolute;filter: opacity(0.6) drop-shadow(0 0 0 black); transition: all step-start;}
img:hover{width:400px;height:250px; z-index:4; filter: opacity(1) drop-shadow(0 0 0 black);}
a{position:absolute;}

.im1{top:230px; z-index:2;}
.im2{left:320px; top:50px; z-index:1;}
.im4{left:340px;top:270px;z-index:3;}

